/* NoticeMain 컴포넌트의 전체 컨테이너 */
.noticeMainContainer {
  padding: 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
}

/* 로그아웃 버튼 스타일 */
.noticeMainLogoutButton {
  margin-top: 10px;
  background-color: #ff4b5c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 호버 효과 추가 */
}

/* 로그아웃 버튼 호버 시 스타일 */
.noticeMainLogoutButton:hover {
  background-color: #e84142; /* 약간 더 진한 빨간색 */
}

/* 게시글 작성 버튼 스타일 */
.noticeMainWriteButton {
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s; /* 호버 효과 추가 */
}

/* 게시글 작성 버튼 호버 시 스타일 */
.noticeMainWriteButton:hover {
  background-color: #43a047; /* 약간 더 진한 녹색 */
}

/* 마이페이지 링크 버튼 스타일 */
.noticeMainMyPageLink {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 호버 효과 추가 */
}

/* 마이페이지 링크 버튼 호버 시 스타일 */
.noticeMainMyPageLink:hover {
  background-color: #2980b9; /* 약간 더 진한 파란색 */
}

/* 게시판 네비게이션 컨테이너 */
.noticeMainBoardNavigation {
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
  margin: 20px 0;
}

/* 게시판 버튼 스타일 */
.noticeMainBoardButton {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 호버 효과 추가 */
}

/* 게시판 버튼 호버 시 스타일 */
.noticeMainBoardButton:hover {
  background-color: #ccc; /* 약간 더 진한 회색 */
}

/* 활성화된 게시판 버튼 스타일 */
.noticeMainActiveBoardButton {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* 호버 효과 추가 */
}

/* 활성화된 게시판 버튼 호버 시 스타일 */
.noticeMainActiveBoardButton:hover {
  background-color: #43a047; /* 약간 더 진한 녹색 */
}

/* 로그인 버튼 스타일 */
.noticeMainLoginButton {
  margin-top: 10px;
  background-color: #58aee7; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-left: 10px; 
  transition: background-color 0.3s; 
}

/* 로그인 버튼 호버 시 스타일 */
.noticeMainLoginButton:hover {
  background-color: #2980b9; 
}
/* 마이페이지 회원 탈퇴 버튼 */
.delete-button {
  position: absolute; 
  top: 20px; 
  right: 20px; 
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #db7a83;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.delete-button:hover {
  background-color: #ff1e38; 
}
/* 게시글 목록  */
.post-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 1fr 200px 150px 80px 80px 80px;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.post-item:hover {
  background-color: #cccccc; 
  color: #333; 
}
/* 마이페이지 게시글/댓글 목록  */
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.list-item:hover {
  background-color: #f0f0f0; 
  color: #333; 
}